# Day 2

In [24]:
import pandas as pd
data = pd.read_csv('Data files/employees.csv')
data.to_html
data.describe()

              Salary      Bonus %
count    1000.000000  1000.000000
mean    90662.181000    10.207555
std     32923.693342     5.528481
min     35013.000000     1.015000
25%     62613.000000     5.401750
50%     90428.000000     9.838500
75%    118740.250000    14.838000
max    149908.000000    19.944000

## Q2

In [29]:
sk_pd = pd.read_csv('Data files/Concrete_Data_Yeh.csv')

In [31]:
sk_pd.corr()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
cement,1.000000,-0.275216,-0.397467,-0.081587,0.092386,-0.109349,-0.222718,0.081946,0.497832
slag,-0.275216,1.000000,-0.323580,0.107252,0.043270,-0.283999,-0.281603,-0.044246,0.134829
flyash,-0.397467,-0.323580,1.000000,-0.256984,0.377503,-0.009961,0.079108,-0.154371,-0.105755
water,-0.081587,0.107252,-0.256984,1.000000,-0.657533,-0.182294,-0.450661,0.277618,-0.289633
superplasticizer,0.092386,0.043270,0.377503,-0.657533,1.000000,-0.265999,0.222691,-0.192700,0.366079
coarseaggregate,-0.109349,-0.283999,-0.009961,-0.182294,-0.265999,1.000000,-0.178481,-0.003016,-0.164935
fineaggregate,-0.222718,-0.281603,0.079108,-0.450661,0.222691,-0.178481,1.000000,-0.156095,-0.167241
age,0.081946,-0.044246,-0.154371,0.277618,-0.192700,-0.003016,-0.156095,1.000000,0.328873
csMPa,0.497832,0.134829,-0.105755,-0.289633,0.366079,-0.164935,-0.167241,0.328873,1.000000

In [32]:
sk_pd.cov()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
cement,10921.580220,-2481.550406,-2658.299034,-182.073210,57.677098,-888.546203,-1866.130628,540.979608,869.143022
slag,-2481.550406,7444.124812,-1786.685054,197.604130,22.302400,-1905.221719,-1947.995145,-241.152238,194.337561
flyash,-2658.299034,-1786.685054,4095.616541,-351.195911,144.322455,-49.565280,405.907450,-624.071384,-113.064425
water,-182.073210,197.604130,-351.195911,456.002651,-83.879313,-302.675726,-771.574925,374.491462,-103.323253
superplasticizer,57.677098,22.302400,144.322455,-83.879313,35.686781,-123.553888,106.659877,-72.718638,36.533734
coarseaggregate,-888.546203,-1905.221719,-49.565280,-302.675726,-123.553888,6045.677357,-1112.650194,-14.813131,-214.239754
fineaggregate,-1866.130628,-1947.995145,405.907450,-771.574925,106.659877,-1112.650194,6428.187792,-790.574335,-224.002799
age,540.979608,-241.152238,-624.071384,374.491462,-72.718638,-14.813131,-790.574335,3990.437729,347.059758
csMPa,869.143022,194.337561,-113.064425,-103.323253,36.533734,-214.239754,-224.002799,347.059758,279.081814

In [34]:
sk_pd["age"].mean()

45.662135922330094

In [36]:
conDataAboveAverage = sk_pd[sk_pd["age"] > sk_pd["age"].mean()].to_json()
conDataBelowAverage = sk_pd[sk_pd["age"] <= sk_pd["age"].mean()].to_json()